body {
    font-family: "Dancing Script", cursive;
    margin: 40px;
    font-size: 20px;
}

header {
    font-size: 50px;
    font-weight: bold;
}

input {
  width: 60px;
  text-align: center;
  padding: 3px;
}

li {
  margin: 5px 0;
}
